@use "~/src/scss/settings/variables" as v;

.c-btn {

    background-color: map-get($map: v.$color-map, $key: "white");
    border: 1px solid;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 16px;
    width: fit-content;

    &:hover {
        background-color: rgba(112, 181, 249, 0.15);
    }

    &--linkedin {

        @extend .c-btn;

        border-color: map-get($map: v.$color-map, $key: "linkedin1");
        color: map-get($map: v.$color-map, $key: "linkedin1");

        &:hover {
            box-shadow: inset 0 0 0 1px map-get($map: v.$color-map, $key: "linkedin1");
        }
    }

    &--github {
        @extend .c-btn;

        border-color: map-get($map: v.$color-map, $key: "dark-secondary");
        color: map-get($map: v.$color-map, $key: "dark-secondary");

        &:hover {
            box-shadow: inset 0 0 0 1px map-get($map: v.$color-map, $key: "dark-secondary");
        }
    }

    &--yt {
        @extend .c-btn;

        border-color: map-get($map: v.$color-map, $key: "youtube1");
        color: map-get($map: v.$color-map, $key: "youtube1");

        &:hover {
            box-shadow: inset 0 0 0 1px map-get($map: v.$color-map, $key: "youtube1");
        }
    }
}