@use "~/src/scss/settings/variables" as v;
@use "~/src/scss/tools/mixins" as m;
@use "~/src/scss/tools/media-queries" as mq;


.c-card {
    border-radius: 8px;
    box-shadow: 0px -1px 1px rgba(0,0,0,0.08),1px 0px 1px rgba(0,0,0,0.08),-1px 0px 1px rgba(0,0,0,0.08),0px 1px 1px rgba(0,0,0,0.08);
    overflow: hidden;
    width: 330px;

    &__header {
        background-color: map-get($map: v.$color-map, $key: "black");
        padding: 12px 16px;

        i {
            color: white;
            font-size: 24px;
        }

        p {
            font-size: 20px;
            font-weight: 500;
        }
    }

    &__content {
        background-color: map-get($map: v.$color-map, $key: "white");
        display: flex;
        flex-direction: column;
        gap: 8px;

        p, h4, h3 {
            color: map-get($map: v.$color-map, $key: "dark-primary");
        }
    }

    &__header, &__content {
        padding: 12px 16px;
    }

    &__img {
        border: 2px solid rgba(0,0,0,0);
        border-radius: 50%;
        box-sizing: border-box;
        height: 56px;
        width: 56px;
    }

    &__name {
        font-size: 16px;
    }

    &__description {
        font-size: 14px;
        font-weight: 400;
    }

    &__name, &__description {
        margin: 0;
    }
}