@use "../tools/mixins" as m;
@use "../settings/variables" as v;

.c-dropdown {

  --radius: 5px;

  border-radius: var(--radius);
  max-width: 200px;

  &__item {
    @include m.hover-dark-primary(var(--radius));
  }

  &__img {
    @include m.setWidthAndHeight(20px, 20px);
  }
}