@use "~/src/scss/settings/variables" as v;
@use "~/src/scss/tools/mixins" as m;
@use "~/src/scss/tools/media-queries" as mq;

.c-menu {
  &__link {
    @include m.hover-dark-primary;
    cursor: pointer;
    padding-block: 8px;

    @include mq.max-width(v.$bp-md) {
      padding-block: 14px;
    }

    &--active {
      background-color: map-get(v.$color-map, "dark-hover-primary");
    }
  }
}