@use "../settings/variables" as v;

// GENERIC APP STYLES

* {
  font-family: v.$font-family;
}

body {
  background-color: map-get($map: v.$color-map, $key: "dark-tertiary");
}

p {
  font-size: v.$fs-12;
}

header, section, div, footer {
  box-sizing: border-box;
}

p, h2, h3 {
  color: map-get($map: v.$color-map, $key: "white");
}