<div class="jav-contact u-w-per-100 u-h-per-100 p-flexcc u-dir-col">
  <jav-page-title [title]="'PAGES.CONTACT' | translate" [description]="'CONTACT.DESCRIPTION' | translate"></jav-page-title>
  
  <div class="jav-contact__sites u-ds-flex u-justify-center u-gap-64">
    <a *ngFor="let item of sites"
      class="jav-contact__logo p-flexcc" [ngStyle]="{ 'background-color' : item.bgColor}"
      [href]="item.link" target="_blank"
    >
      <i class="bi" [ngClass]="item.logo"></i>
    </a>
  </div>
</div>
