@use "../../../scss/settings/variables" as v;
@use "../../../scss/tools/media-queries" as mq;

$c: #{v.$prefix} + "contact";

#{$c} {

  $self: &;

  &__body {
    @include mq.xs-device {
      flex-direction: column;

      #{$self}__sites {
        flex-direction: row;
      }

    }
  }

  &__linkedin {
    @include mq.max-width(v.$bp-md) {
      display: none;
    }

    &--sm {

      

      @include mq.min-width(v.$bp-md) {
        display: none;
      }
    }
  }

  &__logo {
    border-radius: 70px;
    height: 100px;
    width: 100px;

    &:hover {
      transform: scale(1.1);
      transition: transform .3s ease-in-out;
    }

    .bi {
      color: map-get($map: v.$color-map, $key: "white");
      font-size: 50px;
    }
  }
}