// SCSS VARIABLES

$prefix: ".jav-";

// FONT
$font-family: 'Roboto', sans-serif;

$font-sizes-map : (
  "12" : 12px,
  "14" : 14px,
  "16" : 16px,
  "20" : 20px,
  "24" : 24px,
  "32" : 32px,
  "40" : 40px,
  "64" : 64px
);

$fs-12: map-get($font-sizes-map, "12");
$fs-14: map-get($font-sizes-map, "14");
$fs-16: map-get($font-sizes-map, "16");
$fs-24: map-get($font-sizes-map, "24");
$fs-32: map-get($font-sizes-map, "32");
$fs-40: map-get($font-sizes-map, "40");
$fs-64: map-get($font-sizes-map, "64");

// COLOR

$color-map: (
  "text-primary" : #878787,

  "dark-primary": #272822,
  "dark-secondary" : #1E1F1C,
  "dark-tertiary": #34352f,

  "dark-hover-primary": #323433,

  "black" : #000,
  "white" : #FFF,

  "comp1" : #03698f,
  "comp2" : #F92653,
  "comp3" : #6188FF,

  "linkedin1" : #0A66C2
);

// BREAKPOINTS 
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;