<div class="jav-exp-details u-w-per-100 u-pos-relative" @fadeinout>
  <!-- #region HEADING SECTION -->
  <section class="jav-exp-details__heading u-w-per-100 p-flexss u-gap-24 u-mb-3">
    <div class="jav-exp-details__logo">
      <img [src]="data.logo" [alt]="data.title" width="100%" height="auto">
    </div>
    <div class="jav-exp-details__title">
      <h2 class="u-color-dark-primary u-mt-0">
        {{ data.title }}
      </h2>
      <p class="u-fs-16 u-color-dark-primary">
        {{ data.timeline | translate }}
      </p>
    </div>
  </section>
  <!-- #endregion -->
   <!-- #region TAGS -->
    <section class="jav-exp-details__techs u-w-per-100 p-flexcs u-fwrap-wrap u-gap-8 u-mb-3">
      <span *ngFor="let tag of data.techs" class="e-tag info">
        {{ tag }}
      </span>
    </section>
   <!-- #endregion -->
  <!-- #region DESCRIPTION -->
  <section class="jav-exp-details__description u-w-per-100">
    <p class="u-fs-16 u-color-dark-primary" [innerHTML]="data.description | translate"></p>
  </section>
  <!-- #endregion -->

  <!-- #region BUTTON CLOSE -->
  <i class="jav-exp-details__close bi bi-x-lg u-color-dark-primary u-pos-absolute u-cursor-pointer"
    role="button" tabindex="0"
    (click)="userClickClose(true)" (keyup.enter)="userClickClose(true)"
  ></i>
  <!-- #endregion -->
</div>
