@use "~/src/scss/settings/variables" as v;
@use "~/src/scss/tools/mixins" as m;
@use "~/src/scss/tools/media-queries" as mq;

$c: v.$prefix + "sidebar";

#{$c} {

  color: map-get($map: v.$color-map, $key: "white");

  &__icon {
    &--active {
      border-left: 2px solid map-get($map: v.$color-map, $key: "white");
    }
  }
}