@use "../settings/variables" as v;

$color-keys: map-keys($map: v.$color-map);

@each $color in $color-keys {

  $value: map-get($map: v.$color-map, $key: $color);

  .u-color-#{$color} {
    color: $value;
  }
  .u-bg-#{$color} {
    background-color: $value;
  }
}