<div class="app-container u-w-vw-100 u-h-vh-100 u-ovf-hidden p-flexss u-dir-col" id="jav-app-container">
  <section class="app-container__header u-w-per-100 u-index-1">
    <jav-header></jav-header>
  </section>
  <section class="app-container__body u-h-per-100 u-w-per-100 p-flexss">
    <aside class="app-container__sidebar u-h-per-100" [class.active]="sidebarActive">
      <jav-sidebar></jav-sidebar>
    </aside>
    <div class="app-container__content u-h-per-100 u-bg-dark-tertiary">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>