@use "../settings/variables" as v;

// MIXINS

@mixin setWidthAndHeight($w, $h) {
  height: $h;
  width: $w;
}

@mixin hover-bg($color) {
  &:hover {
    background-color: $color;
  }
}

@mixin hover-dark-primary($radius: 5px) {
  @include hover-bg(map-get(v.$color-map, "dark-hover-primary"));

  border-radius: $radius;
  cursor: pointer;
}

@mixin d-flex($align: center, $justify: center, $direction: row) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}